[submodule "third_party/colmap"]
	path = third_party/colmap
	url = https://github.com/colmap/colmap.git
[submodule "third_party/Hierarchical_Localization"]
	path = third_party/Hierarchical_Localization
	url = https://github.com/cvg/Hierarchical-Localization.git
